<aside class="w-64 left-0 top-0 h-screen bg-slate-700 p-10 md:shadow transform -translate-x-full md:translate-x-0 transition-transform duration-150">
   <ul class="space-y-2">
      <li>
         <a href="#" class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
            <span class="iconify icon-room" data-icon="cil:room"></span>   
            <span class="flex-1 ml-3">Chambres</span>
         </a>
      </li>
      <li>
         <a href="#" class="flex items-left p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
            <span class="iconify icon-room" data-icon="cil:room"></span>   
            <span class="flex-1 ml-3 ">Type de chambre</span>
         </a>
      </li>
      <li>
         <a href="#" class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
            <span class="iconify icon-person" data-icon="bi:person-fill"></span>   
            <span class="flex-1 ml-3">Type de personne</span>
         </a>
      </li>
   </ul>
 </aside>
