#login_form{
    width: 475px;
    height: 517px;
    margin: 10em auto;
    position: relative;
    top: 5%;
    border-radius: 3%;
    padding: 50px 60px;
    box-shadow: 0px 1px 5px 0px #00000040 !important;
}